<nav class="top-nav">
    <div class="nav-brand">
        <a href="/">SignaturPortal</a>
    </div>
    <div class="nav-links">
        <a href="/" class="nav-link">Home</a>
        @* Legacy links - these route through YARP to WebForms *@
        <a href="/Responsive/Recruiting/ActivityList.aspx" class="nav-link">E-Recruitment</a>
        <a href="/Responsive/AdPortal/ActivityList.aspx" class="nav-link">Job Ads</a>
        <a href="/Responsive/OnBoarding/Default.aspx" class="nav-link">Onboarding</a>
    </div>
    <div class="nav-user">
        @* User info will be populated from session in Phase 2 *@
        <span class="user-name">User</span>
    </div>
</nav>
