::deep .btn-create-activity:hover {
    background-color: #1a9b89 !important;
}

::deep .btn-more-filters:hover {
    background-color: #054541 !important;
}

::deep .activity-client-autocomplete input,
::deep .activity-date-picker input {
    font-size: 0.875rem !important;
}
