<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <ResourcePreloader />
    <link rel="stylesheet" href="css/portal-themes/theme-recruitingportal.css" />
    <link rel="stylesheet" href="css/portal-themes/theme-adportal.css" />
    <link rel="stylesheet" href="css/portal-themes/theme-onboarding.css" />
    <link rel="stylesheet" href="css/portal-themes/_grid-base.css" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["SignaturPortal.Web.styles.css"]" />
    <link href="_content/MudBlazor/MudBlazor.min.css" rel="stylesheet" />
    <ImportMap />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <ReconnectModal />

    <script src="@Assets["_framework/blazor.web.js"]"></script>
    <script src="_content/MudBlazor/MudBlazor.min.js"></script>
    <script src="js/fileDownload.js"></script>
    <script src="js/themePreference.js"></script>
</body>

</html>
