::deep .btn-create-activity:hover {
    background-color: var(--mud-palette-primary) !important;
}

::deep .btn-more-filters:hover {
    background-color: #054541 !important;
}

::deep .btn-export-activity-members:hover {
    background-color: #054541 !important;
}

::deep .activity-client-autocomplete input,
::deep .activity-date-picker input {
    font-size: 0.875rem !important;
}
